<%- include('partials/header'); -%>
<!-- <style>
    #title{width: 80%;}
    #post{width: 80%;}
</style> -->
<form action="/compose" method="POST">
   <div class="form-group">
    <h1>Compose</h1>
    <label for="title">Title</label> <br>
    <input type="text" name="titlec" id="title" class="form-control"> <br>
    <label for="post">Post</label> <br>
    <textarea name="postc" id="post" cols="30" rows="10" class="form-control"></textarea> <br>
    <button type="submit" class="btn btn-primary">Publish</button> <br>
   </div>
</form>
<%- include('partials/footer'); -%>